   <div class="container w-xxl w-auto-xs " ng-controller="SignupFormController">
    <div class="m-b-lg">
     <div class="">
       <div class="wrapper-lg">  
        <div class="row row-sm m-b">
          <div class="col-xs-6">
            <img class="wrapper-xs bg-white img-responsive" src="img/flockt.jpg">
          </div>
        </div>
        <div class="row row-sm m-b">
          <div class="col-xs-10">
            <p>{{information}}</p>
          </div>
          <div class="col-xs-2">
            <a href="#"><i class="icon-question"></i></a>
          </div>
        </div>
        <div class="row row-sm m-b">
          <div class="col-xs-11 m-b">
            <i class="text-color-grey">{{message}}</i>
          </div>
        </div>
        <div class="row row-sm m-b">
          <div class="col-xs-11">
            <p>To get started...</p>
          </div>
        </div>



        <div class="row row-sm m-b">
         <div class="col-xs-12">
          <div class="m-t-sm" >
            <form role="form">
              <div class="row row-sm m-b ">
               <div class="text-danger wrapper text-center" ng-show="authError">
                {{authError}}
              </div>
              <div class="col-xs-9">
                <div class="form-group m-b-sm">
                  <input type="text" placeholder="Enter your email id" class="form-control input-sm b-t-none b-l-none b-r-none b-b-none p-l-none p-r-none " ng-model="user.email" >                 
                </div>
              </div>
              <div class="col-xs-2 pull-right text-success">
                <i class="fa fa-check"></i>
              </div> 
              <div class="col-xs-11">
                <div class="line line-lg b-b m-t-none "></div>
              </div>
            </div>
            <div class="row row-sm m-b ">
             <div class="col-xs-11">
              <p class="text-center">OR</p>
            </div>
          </div>

          <div class="row row-sm m-b">
            <div class="col-xs-9">
              <div class="p-l-none">
                <div class="form-group m-b-sm">

                  <div class="col-xs-2 p-l-none m-b-sm p-r-none">


                    <select class="btn btn-default btn-sm btn-bg dropdown-toggle b-l-none b-r-none b-t-none b-b-non"><span class="caret"></span>
                      <option ng-repeat="code in isdCode">{{ code.text }}
                      </option>
                    </select>
                  </div>
                  
                  <div class="col-xs-9">
                    <input type="text" placeholder="Enter your mobile #" class="form-control input-sm b-t-none b-l-none b-r-none b-b-none p-l-none p-r-none ">  
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-11">
              <div class="line line-lg b-b m-t-none "></div>
            </div>
          </div>
          <div class="row row-sm m-b">
            <div class="col-xs-6">
              <a href="#" class="text-uppercase">Back</a>
            </div>
            <div class="col-xs-5 " ng-show="nextShow=='true'">
              <div class="pull-right">
              <a href="#" class="text-uppercase">Next</a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
